@import "variables";

.affix {
  top: 15px;

  @media (min-width: $screen-md-min) {
    width: 293px;
  }

  @media (min-width: $screen-lg-min) {
    width: 360px;
  }

  a.back-to-top {
    display: block;
    text-align: center;
    font-size: smaller;
    color: #737373;
    margin-top: 10px;
  }

}

.affix-top {

}

.affix-bottom {

}

.back-to-top {
  display: none;
}