// Media widths

$screen-sm-min: 768px;   // Small devices (tablets, 768px and up)
$screen-md-min: 992px;   // Medium devices (desktops, 992px and up)
$screen-lg-min: 1200px;  // Large devices (large desktops, 1200px and up)

// Colors
$fg-col1: #11BAB4;
$fg-col2: #0d8782;

$bg-col1: #f7f7f7;
$bg-col2: #ebebeb;

$brd-col1: #d6d6d6;

